.venv
__pycache__
*.pyc
.env
.env.local
.env.example   
.env.prod
.env.dev
.env.test
.env.staging
.env.prod.local
.env.dev.local
.env.test.local
.env.staging.local
.env.prod.example
.env.dev.example
.env.test.example
.env.staging.example
.env.prod.example.local
.env.dev.example.local
.env.test.example.local
.env.staging.example.local
.env.prod.example.local.example
.env.dev.example.local.example
.env.test.example.local.example
.env.staging.example.local.example
project_notes.docx
notebooks
